engine-strict=true

fund=false

audit=true

save-exact=true

package-lock=true

legacy-peer-deps=false

auto-install-peers=true

strict-peer-dependencies=false

prefer-offline=false

prefer-online=true

update-notifier=false

resolution-mode=highest

fetch-retries=5

fetch-retry-factor=2

fetch-retry-maxtimeout=120000

fetch-retry-mintimeout=20000
